.contenedor-inicio{
    width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 100vh;
    padding: 15px 45px;
    background-image: url(https://wow.zamimg.com/uploads/screenshots/normal/875709-wc3loadingscreens.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor-inicio h1{
    font-family: "MORPHEUS";
    font-size: 3em;
    font-weight: 700;
    color: rgb(53, 37, 17);
    margin-top: 10px;
    margin-bottom: 20px;
}


.contenedor-inicio h2, .contenedorError h2{
    font-family: serif;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: rgb(53, 37, 17);
    margin-bottom: 10px;
}

.contenedor-inicio section, .contenedorError section{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-family: "Friz Quadrata Regular";
    font-size: 1.2em;
    color: rgb(42, 25, 6);
}

.contenedor-inicio section p, .contenedorError section p{
    margin: 0 0 25px 0;
}