.contenedor-productos{
    width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 100vh;
    padding: 15px 45px;
    background-image: url(https://wow.zamimg.com/uploads/screenshots/normal/875709-wc3loadingscreens.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*CONTENEDOR BOTONES FILTROS Y ORDENAR*/
.sort-nav{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: #000000d9;
    border: 5px ridge rgb(71, 71, 71);
    border-radius: 10px;
    box-shadow: 0 0 8px 1px black;
}

/*CONTENEDOR DEL LISTADO DE CARDS DE PRODUCTOS*/
.contenedorProductos{
    display: flex;
    justify-content: space-between;
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
}

/*CONTENEDOR GENERAL DEL APARTADO PRODUCTOS*/
.productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    font-family: "Friz Quadrata Regular";
    font-size: 1.5em;
    color: rgb(42, 25, 6);
    background-color: transparent;
}

/*CONTENEDOR FORMULARIOS PRODUCTOS*/
.contenedor-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor-formulario .insert-btn, .contenedor-formulario .edit-btn{
    margin: 0 0 30px 0;
    align-self: center;
    justify-self: center;
}

/*TITULOS*/
.contenedor-productos h2{
    justify-self: center;
    width: max-content;
    font-family: "MORPHEUS";
    text-align: center;
    font-size: 2.5em;
    color: rgb(207, 184, 10);
    margin: 10px 0;
    padding: 0 10px 5px 10px;
    background-color: #000000d9;
    border: 5px ridge rgb(132, 118, 6);
    border-radius: 5px;
    box-shadow: 0 0 8px 1px black;
}

.contenedor-productos h3{
    justify-self: center;
    width: max-content;
    font-family: "MORPHEUS";
    text-align: center;
    font-size: 2em;
    color: rgb(207, 184, 10);
    margin: 10px 0;
    padding: 0 10px 5px 10px;
    background-color: #000000d9;
    border: 5px ridge rgb(132, 118, 6);
    border-radius: 5px;
    box-shadow: 0 0 8px 1px black;
}

/*INPUTS*/
.contenedor-productos input, textarea, select{
    width: 150px;
    padding: 10px;
    margin: 10px 5px 20px 5px;
    background-color: #000000d9;
    border: 5px ridge rgb(71, 71, 71);
    border-radius: 5px;
    color: white;
    font-size: 1em;
    box-shadow: 0 0 8px 1px black;
}

select{
    width: 160px;
}

.agregar-a-lista{
    margin-top: 15px;
}

/*BOTONES*/
.sort-btn, .filter-btn{
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #c00;
    border: 5px ridge rgb(71, 71, 71);
    border-radius: 10px;
    color: rgb(255, 255, 0);   
    font-size: 15px;
    box-shadow: 0 0 8px 1px black;
}

.sub-btn{
    padding: 10px;
    background-color: #c00;
    border: 5px ridge rgb(71, 71, 71);
    border-radius: 10px;
    color: rgb(255, 255, 0);   
    font-size: 0.8em;
    box-shadow: 0 0 8px 1px black;
}

.sort-btn:hover, .filter-btn:hover, .sub-btn:hover{
    background-color: #f00;
    color: rgb(255, 255, 0);
    box-shadow: 0 0 8px 1px black inset;
    transition: 0.3s;
}

/*CARDS CADA PRODUCTO*/
.card-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    background-color: #000000d9;
    border: 5px ridge rgb(71, 71, 71);
    border-radius: 10px;
    color: white;
    font-size: 0.5em;
    box-shadow: 0 0 8px 1px black;
}

.card-producto img{
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card-producto h3{
    margin: 10px 0;
    font-size: 1.5em;
}

.card-producto p{
    margin: 10px 0;
    font-size: 1.2em;
}

.card-botones{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card-btn{
    margin: 10px 0;
    padding: 10px;
    background-color: #c00;
    border: 5px ridge rgb(71, 71, 71);
    border-radius: 10px;
    color: rgb(255, 255, 0);   
    font-size: 15px;
}

/*RESULTADOS CALCULOS*/
.resumen{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 50px 0;
    padding: 10px;
    background-color: #000000d9;
    border: 5px ridge rgb(71, 71, 71);
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    box-shadow: 0 0 8px 1px black;
}

@media (max-width: 1280px){
    .productos{
        width: 1080px;
    }
}

@media (max-width: 1080px){
    .productos{
        width: 960px;
    }
}

@media (max-width: 960px){
    .productos{
        width: 720px;
    }
    .contenedorProductos{
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 720px){
    .productos{
        width: 540px;
    }
    .contenedorProductos{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 540px){
    .productos{
        width: 360px;
    }
    .contenedorProductos{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 360px){
    .productos{
        width: 300px;
    }
    .contenedorProductos{
        width: 100%;
    }
}